html {
  background-color: #ecebeb;
}




.header {
  padding:10px;



text-align: center;
}

.header p {


  font-size: 50px ;
  font-family: big caslon, book antiqua, serif ;
  color: black ;
  text-decoration: underline;
  text-decoration-color: #cad2a8;



}

.ocupation{

  font-size: 30px ;
  font-family: big caslon, book antiqua, serif ;
  color: black ;
  text-align: center;
  margin-top: -75px;
  margin-bottom: 100px;

}


.topnav {

  padding: 30px;
background: #8ba48a;

  overflow: auto ;



}

.topnav a {
  float: left;
  padding: 12px;
  width: 22.75%;
  text-align: center;
  text-decoration: none;
  color: white;
font-weight: bold;
  font-size: 17px;
  display: flex;
  align-items: center;
}
.material-icons{
  margin-right: 12px;
}


.section {
  padding: 1em;
}
   .title{
    font-size: 1.5em;
    margin-bottom: 0;
    text-align: center;



  }

  .title h1{
    font-size: 50px ;
    font-family: big caslon, book antiqua, serif ;
    color: black ;
    text-decoration: underline;
    text-decoration-color: #cad2a8;
  }

  .gallery {
    display: grid;
    grid-template-columns:1fr 1fr 1fr;
    grid-auto-rows:auto;
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
  }

figure{
  margin: 3px;
  overflow: hidden;
  position: relative;
text-align:center;
  transition: background-color .5s;
}

#box1{
  margin: 3px;
  overflow: hidden;
  position: relative;
background-color: #506e69;
  transition: background-color .5s;
}



figcaption {
  position: absolute;
  padding: 1em 2em;
  top: 0;
  color: white;
  text-align: center;


}



figcaption h2 {
  font-weight: bold;
  font-size: 1.2em;
  text-transform: uppercase;
  background: black;
  display: inline-block;
  padding: .5em .7em;
  text-align: center;


}

.additional {
  font-family: serif;
  opacity: 0;
}

  #one{
    marign-bottom: 20px;
    color: white;
    font-weight: bold;
  }

  #apple{
    display: inline-block;
    background: white;
    text-transform: uppercase;
    text-decoration: none;
    padding: .5em;
    font-weight: bold;
    color: black;
    border-radius: 4px;
  }




#box1 .additional{
  opacity: 0;
text-align: center;

}

#box1:hover .additional{
  opacity:1;
  transform: scale(1);
  margin-left:205px;
  margin-top: 400px;
  position:absolute;
  font-size: 20px;
}

#box1 h2 {
  margin-left:0px;
  margin-top: 2px;
  position:absolute;
  font-size: 20px;
}

#box1 figcaption{
  position: absolute;
  padding: 1em 2em;
  top: 0;
  color: white;
  text-align: center;
margin-left: 100px;
}

.box2 .additional{
  opacity: 0;


}

.box2:hover .additional{
  opacity:1;
  transform: scale(1);

}



.box3:hover .additional{
  opacity:1;
  transform: scale(1);
}


figure:hover{
background:#949c9c;


}
figure:first-child{
  margin-left: 0;

}



figure:hover .additional{
  opacity:1;
  transform: scale(1);
}

#box1:hover {
  background:#949c9c;
}






#golf:hover {
  transform: scale(1.3);
  transition: all .5s;

}

.parent{
  position: relative;
 top: 0;
 left: 0;
}

#golf {
  width: calc(100% + 60px);
  opacity: 0;
  transform: traslate3d(0, -20, 0) scale(1.12);
  transition: all .5s;
position: relative;
top: 0;
left:0;
}

.inner{
  position: absolute;
  top: -680px;
  left: -640px;
  transform: scale(.18)
}

.active{
  background: black;
  font-weight: bold;
  font-family: big caslon, book antiqua, serif ;
  font-size: 50px;

}

.address{
margin-right: 100px;
margin-left: 240px;


}

.education{
position: relative;
margin-right: 100px;
margin-left: 720px;
top:-175px;



}

.skills{
position: relative;
margin-right: 100px;
margin-left: 720px;
top:-200px;

}

 h3{
font-size: 30px;
color: #black;
font-family: big caslon, book antiqua, serif ;
}

.work{
position: relative;
margin-right: 100px;
margin-left: 240px;
top:-250px;
}

.work h4{
color: #black;
font-size:30px;
font-family: big caslon, book antiqua, serif ;
}

.ref{position: relative;
margin-right: 100px;
margin-left: 230px;
top:-283px;

}

.ref h5{
font-size: 35px;
color: #black;
font-family: big caslon, book antiqua, serif ;
}

.print a:link, a:visited {
  background-color: ;
  color: white;
  padding: 20px 50px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  position: relative;
  margin-right: 100px;
margin-left: 725px;
top:-400px;
}

.print a:hover, a:active {


}

.about {
  font-size: 20px;
  color: #black;


  font-family: big caslon, book antiqua, serif ;
}

.box1{
grid-column: 1/3;
grid-row: 1/3;

}

.box2{
grid-column: 3;
grid-row: 1/2;
background-color: #cad2a8;
}

.box3{
grid-column: 3;
background-color: #8ba48a;
}

#plane{
  max-width: 40%;
  height: auto;
  border: solid lightgreen 10px;
  border-radius: 25px;
}

.golfer{

display: block;
  position: relative;
margin-left: auto;
margin-right: auto;


  max-width: 4%;
  height: auto;

}

.footer{
  position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    height: 50px;
}

.footer p{
  color:white
display:block;
}
